@import "../layout/style/base/setting";
@import "../layout/style/base/breakpoints";

.title {
	color: var(--text-color);
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 3em;
  line-height: 1.5em;
	text-transform: uppercase;
  text-shadow: 0 0.03em rgb(79, 93, 173), 0 3px rgb(93, 131, 180);
  text-align: center;
}
.cont {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.5); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 0.1em solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  height: 60%;
  text-align: center;
}

.para {
  color: #222;
  text-shadow: 0px 2px 3px #555;  
  font: 2em Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
}


.user-avatar {
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
